.DS_Store
**/__pycache__/
*.pyc
*.apk
*.aab
*.jks
*.keystore
**/key.properties
**/local.properties
.env
.env.*
!.env.example
**/build/
**/.dart_tool/
**/.gradle/
**/.idea/
*.iml
**/.flutter-plugins-dependencies
**/coverage/
**/test_driver/*.json
